body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
}
h2{
    background-color: orange;
}
img{
    height: auto;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.index-link{
    text-align: center;
    color: blue;
    background-color: orange;
    font-size: 25px;
   
}